## ロールの割り当て
- /frontend 以下のファイルを編集するとき、frontend.clinerules を遵守してください。
- /backend 以下のファイルを編集するとき、backend.clinerules を遵守してください。

## タスク後に必ずやること
- タスクが完了したら、必ずコミットしてください。マイクロコミットを意識してください。コマンドは以下
- git status で変更点を確認
- git add .
- git commit -m "{分類（コンポーネント追加、機能追加、バグ修正等）}: {具体的に何を行ったか}"